
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
$borderStyle:1px solid rgba(196, 196, 196, 1);
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
    @media all and (max-width: 850px){
        display: flex;
        flex-direction: column;
        row-gap: 1em;
    }
}
head{
    display: none;
}
script{
    display: none;
}

.carnet{
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 100%;
    @media all and (max-width: 850px){
        display: flex;
        flex-direction: column;
        row-gap: 1em;
    }
    .title{

        background-color: rgba(8, 128, 214, 1);
        height:70px;
        width: 100%;
        padding-left: 30px ;
        gap:24px;

        span{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height:70px;
            padding-left: 30px ;
            gap:24px;
            font-size:20px ;
            font-weight: 700;
            color: rgba(255, 255, 255, 1);
        }
    }
    
}
.main{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    top:85px;
    left: 86px;
    gap:15px;
    @media all and (max-width: 850px){
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
        gap: 1em;
    }
}

.form{
    width: 40%;
    border: $borderStyle;
    padding-bottom: 2em;
    @media all and (max-width: 850px){
        width: 100%;
    }
    .form-title{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color:  rgba(8, 128, 214, 1);
        height: 45px;
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        color:white;
    }

    .form-contact{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        gap:20px;
        height: 808px;
        input{
            height:45px ;
            width:100% ;
            border: $borderStyle;
        }
        textarea{
            width:100% ;
            height: 115px;
            border: $borderStyle;
            resize: none;
        }
        .upload{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            color:rgba(85, 85, 85, 1);
            font-size: 16px;
            font-weight: 500;
            height:138px ;
            width:100% ;
            border: 1px dashed rgba(196, 196, 196, 1);
            #file{
                opacity: 0;
                width: 100%;
                height: 100%;
                
            }
            label{
                color: #555555;
                width: 100%;
            }
        }
        label{
            font-weight:500;
            font-size: 16px;
            color:rgba(8, 128, 214, 1);
        }
        .btn{
            display: flex;
            flex-direction: row;
            gap:36px;
            height: 44px;
            width: 18em;
            @media all and (max-width:500px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5em;
                
            }
            .create{
                width: 8em;
                height: 44px;
                background-color: rgba(8, 128, 214, 1);
                border:1px solid rgba(8, 128, 214, 1);
                font-size: 16px;
                font-weight: 500;
                color:white;
                @media all and (max-width:500px) {
                    margin-left: 4.3em;
                    
                }
                @media all and (max-width:400px) {
                    margin-left: 1em;
                    
                }
                @media all and (max-width:300px) {
                    margin-left: -7em;
                    
                }

            }
            
            .reinit{
                width: 8em;
                height: 44px;
                background-color: rgba(255, 56, 56, 1);
                border: 1px solid rgba(255, 56, 56, 1) ;
                font-size: 16px;
                font-weight: 500;
                color:white;
                @media all and (max-width:500px) {
                    margin-left: 4.3em;
                    
                }
                @media all and (max-width:400px) {
                    margin-left: 1em;
                    
                }
                @media all and (max-width:300px) {
                    margin-left: -7em;
                    
                }
            }
        }
    }
}

.contact-list{
    width: 60%;
    @media all and (max-width: 850px){
        width: 100%;
    }
    span{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        color:white;
        width:100%;
        height:45px ;
        background-color: rgba(8, 128, 214, 1);
    }
}
// début design contact-list
.contact-list-items{
    display: flex;
    // flex-direction: row;
    gap: 50px;
    width: 100%;
    height: 245px;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    .photo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bolder;
        width: 30%;
        background-color:white;
        border-radius: 50%;
        border: 1px solid rgb(214, 177, 177);
    }
    .info-contact{
        display: flex;
        flex-direction: column;
        width: 70%;
        background-color:white;
        .name-contact{
            display: flex;
            flex-direction: row;
            background-color: aqua;
            height: 20%;
            border: 1px solid ;
            .personal-info{
                display: flex;
                flex-direction:row;
                justify-content: start;
                align-items: center;
                gap: 10px;
                width: 85%;
                background-color:white;
            }
            .edit-delete{
                display: flex;
                flex-direction:row;
                justify-content:space-around;  
                align-items: center; 
                background-color: white;
                width: 15%;
                border: 1px solid ;
                .btn_edit{
                    border: solid white ;
                   }
                   
                   .btn_delete{
                       border: solid white;
                   }
               }
        }
        .phone-num{
            display: flex;
            flex-direction:row;
            justify-content: start;
            align-items: center;
            background-color: white;
            height: 20%;
            border: 1px solid ;
        }
        
        .biography{
            display: flex;
            justify-content: start;
            background-color: white;
            height: 60%;
            border: 1px solid ;
            font-size: 1rem;
            flex-wrap: wrap;
            @media all and (max-width: 1200px){
                font-size: 1rem;

            }
        }
    }
}